$page-title-color: #57a99c;
$header-color: #ef7a37;
$main-color: #eaecef;
$white: #ffffff;
$border-radius-1:1rem;
$font-color: (
  white: $white,
);

@each $name, $color in $font-color {
  .f-#{$name} {
    color: $color !important;
    &:before {
      color: $color !important;
    }
    &:hover {
      color: $color !important;
    }
  }
}

/* font color ]*/

/* [ Background color*/

$bg-color: (
  header-color: $header-color,
  main-color: $main-color,
);

@each $name, $color in $bg-color {
  .bg-#{$name} {
    background-color: $color !important;
    &:before {
      color: $color !important;
    }
  }
}

/* Background color ]*/

/* [ Border Color */

$border-color: ();

@each $name, $color in $border-color {
  .border-#{$name} {
    border: 1px solid $color !important;
  }
}
